.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 180px);
}

.inner-container {
	width: 100%;
}

.inner-container-2 {
	display: flex;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
	margin-top: 30px;
}