.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 180px);
}

.inner-container-1 {
	width: 100%;
}

.inner-container-2 {
	display: flex;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 30px;
}

.plot {
	width: 50%;
}

.button {
	margin-left: 25px;
}

@media only screen and (max-width: 1000px) {
	.container {
		height: 100%;
	}
	
	.inner-container-1 {
		margin: 25px 0 0 0;
	}
	
	.inner-container-2 {
		margin-bottom: 50px;
	}
	
	.button {
		margin-left: 20px;
	}
}