.chart {
	width: 50%;
	padding: calc(2% - 10px);
	float: left;
}

canvas {
	border: 2px solid white;
	box-sizing: border-box;
	padding: 10px;
}

canvas:hover {
	border: 2px solid #EFF5FB;
	box-sizing: border-box;
	cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	.chart {
	width: 100%; 
	}
}