.plot {
	width: 50%;
	padding: calc(2% - 24px);
	margin: auto;
	display: inline-block;
	margin: 0 auto;
	margin-left: -4px;
}

canvas {
	border: 2px solid white;
	box-sizing: border-box;
	padding: 10px;
}

canvas:hover {
	border: 2px solid #EFF5FB;
	box-sizing: border-box;
	cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	.plot {
	width: 100%; 
	}
}