th {
	width: 200px;
}

.inner-container {
	max-width: 1000px;
	margin: auto;
	margin-top: 50px;
	text-align: justify;
	padding: 0 20px;
}

p {
	margin: 0;
}

.form-control {
	width: calc(100% - 322px);
	display: inline-block;
}